/.vscode
/build
/linux
/macos
/web
/windows
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/build/entrypoint/.packageLocations
.dart_tool/build/entrypoint/build.dart
.dart_tool/build/entrypoint/build.dart.dill
.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
.dart_tool/build/generated/async/lib/async.dart.transitive_digest
.dart_tool/build/generated/barcode_app/lib/main.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/network/network_manager.injectable.json
.dart_tool/build/generated/barcode_app/lib/resources/strings/asset_map.injectable.json
.dart_tool/build/generated/barcode_app/lib/services/navigator_service.injectable.json
.dart_tool/build/generated/barcode_app/lib/services/product_service.injectable.json
.dart_tool/build/generated/barcode_app/lib/view/products/products_view.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/widget/close_button.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/widget/custom_dialog.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/widget/loading_observer.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/widget/rounded_button.functional_widget.g.part
.dart_tool/build/generated/barcode_app/lib/widget/view_builder.functional_widget.g.part
.dart_tool/build/generated/barcode_scan2/lib/barcode_scan2.dart.transitive_digest
.dart_tool/build/generated/cached_network_image/lib/cached_network_image.dart.transitive_digest
.dart_tool/build/generated/cached_network_image_platform_interface/lib/cached_network_image_platform_interface.dart.transitive_digest
.dart_tool/build/generated/characters/lib/characters.dart.transitive_digest
.dart_tool/build/generated/clock/lib/clock.dart.transitive_digest
.dart_tool/build/generated/collection/lib/collection.dart.transitive_digest
.dart_tool/build/generated/crypto/lib/crypto.dart.transitive_digest
.dart_tool/build/generated/dio/lib/dio.dart.transitive_digest
.dart_tool/build/generated/file/lib/file.dart.transitive_digest
.dart_tool/build/generated/file/lib/local.dart.transitive_digest
.dart_tool/build/generated/file/lib/memory.dart.transitive_digest
.dart_tool/build/generated/fixnum/lib/fixnum.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/cupertino.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/foundation.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/gestures.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/material.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/painting.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/rendering.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/scheduler.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/services.dart.transitive_digest
.dart_tool/build/generated/flutter/lib/widgets.dart.transitive_digest
.dart_tool/build/generated/flutter_cache_manager/lib/flutter_cache_manager.dart.transitive_digest
.dart_tool/build/generated/flutter_localizations/lib/flutter_localizations.dart.transitive_digest
.dart_tool/build/generated/functional_widget_annotation/lib/functional_widget_annotation.dart.transitive_digest
.dart_tool/build/generated/get_it/lib/get_it.dart.transitive_digest
.dart_tool/build/generated/http/lib/http.dart.transitive_digest
.dart_tool/build/generated/http_parser/lib/http_parser.dart.transitive_digest
.dart_tool/build/generated/injectable/lib/injectable.dart.transitive_digest
.dart_tool/build/generated/intl/lib/date_symbol_data_custom.dart.transitive_digest
.dart_tool/build/generated/intl/lib/date_symbols.dart.transitive_digest
.dart_tool/build/generated/intl/lib/intl.dart.transitive_digest
.dart_tool/build/generated/material_color_utilities/lib/material_color_utilities.dart.transitive_digest
.dart_tool/build/generated/meta/lib/meta_meta.dart.transitive_digest
.dart_tool/build/generated/meta/lib/meta.dart.transitive_digest
.dart_tool/build/generated/nested/lib/nested.dart.transitive_digest
.dart_tool/build/generated/octo_image/lib/octo_image.dart.transitive_digest
.dart_tool/build/generated/path/lib/path.dart.transitive_digest
.dart_tool/build/generated/path_provider/lib/path_provider.dart.transitive_digest
.dart_tool/build/generated/path_provider_platform_interface/lib/path_provider_platform_interface.dart.transitive_digest
.dart_tool/build/generated/platform/lib/platform.dart.transitive_digest
.dart_tool/build/generated/plugin_platform_interface/lib/plugin_platform_interface.dart.transitive_digest
.dart_tool/build/generated/protobuf/lib/protobuf.dart.transitive_digest
.dart_tool/build/generated/provider/lib/provider.dart.transitive_digest
.dart_tool/build/generated/rxdart/lib/rxdart.dart.transitive_digest
.dart_tool/build/generated/source_span/lib/source_span.dart.transitive_digest
.dart_tool/build/generated/sprintf/lib/sprintf.dart.transitive_digest
.dart_tool/build/generated/sqflite/lib/sqflite.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/sqflite.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/sqlite_api.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/compat.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/constant.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/database_mixin.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/database.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/dev_utils.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/exception.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/factory_mixin.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/factory.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/sql_builder.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/utils.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/mixin/constant.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/mixin/factory.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/src/mixin/platform.dart.transitive_digest
.dart_tool/build/generated/sqflite_common/lib/utils/utils.dart.transitive_digest
.dart_tool/build/generated/stacked/lib/stacked.dart.transitive_digest
.dart_tool/build/generated/stacked_shared/lib/stacked_shared.dart.transitive_digest
.dart_tool/build/generated/string_scanner/lib/string_scanner.dart.transitive_digest
.dart_tool/build/generated/synchronized/lib/synchronized.dart.transitive_digest
.dart_tool/build/generated/term_glyph/lib/term_glyph.dart.transitive_digest
.dart_tool/build/generated/typed_data/lib/typed_data.dart.transitive_digest
.dart_tool/build/generated/universal_io/lib/io.dart.transitive_digest
.dart_tool/build/generated/uuid/lib/uuid.dart.transitive_digest
.dart_tool/build/generated/vector_math/lib/vector_math_64.dart.transitive_digest
.dart_tool/build_resolvers/sdk.sum
.dart_tool/build_resolvers/sdk.sum.deps
.dart_tool/pub/bin/build_runner/build_runner.dart-3.5.0.snapshot
.flutter-plugins-dependencies
